<div id="login">

  <div data-role="header" data-theme="b" class="judafo">
<div class="titulo">

    <img src="./css/images/Logo.png" width="100em">
</div>
<div class="titulo1">


UbicaTEG
</div>
<div class="titulo2">

    <img src="./css/images/1.jpg" width="220em">
</div>
</div>

<form id="login" >
      <div data-role="fieldcontain" data-theme="b" >
<div class="ui-field-contain">
  <label for="name" class="center">Usuario:</label>
  <input type="text" name="txtNombre" id="txtNombre" placeholder="Ingrese Nombre de Usuario" value="{{Nombre}}">
  </div>

  <div class="ui-field-contain">

    <label for="name" class="center">Contraseña:</label>
    <input type="password" name="txtContra" id="txtContra" placeholder="Ingrese Clave de Usuario" value="{{Clave}}">
  </div>



  <div data-role="popup" id="popupMensaje">
  <p id="message"></p>
  </div>
  <div data-role="footer" data-position="fixed" data-theme="b">
        </div>

  <div class="footer">
    <ul>
      <li><a href="#login" class="ui-btn">Iniciar sesion</a></li>
      <li><a href="#regisrer" class="ui-btn" >registrarse</a></li>
    </ul>

  </div>

</form>

</div>

</div>
