<div data-role="footer" style="overflow:hidden;">
    <h4 style="text-align:center;">UbicaTEG</h4>
    <div data-role="navbar" data-grid="d">
      <ul>
          <li><a href="#" class="ui-btn-active">Inicio</a></li>
          <li><a href="#">Restaurantes</a></li>
          <li><a href="#">Turismo</a></li>
          <li><a href="#">Diversion</a></li>
          <li><a href="#">Festivales</a></li>
      </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
    <div data-role="fieldcontain" data-theme="b" class="perfil">

  <h1>{{nombre}}</h1>

</div>
